<h1>AjaxApp</h1>
<% form_with url: "/posts", method: :post %>
<%= form.text_field :content %>
<% end %>

<div id="list">

</div>

<% @posts.each do |post| %>
<div class="post">
  <div class="post-date">
    投稿日時:<%= post.created_at %>
  </div>
  <div class="post-content">
    <%post.content %>
  </div>
</div>
<% end %>